html {
    height: 100%;
  }
  body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}
select:invalid { color: gray; }
#container{
    display: flex;
    flex-direction: column;
}
